* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p, span {
    font-family: "Lato", sans-serif;
}

main {
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    background-color: #f3f2ee;
}

.mainContent {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.content-area {
    display: flex;
    flex-direction: column;
    row-gap: 16 px;
    line-height: 1.5em;
    text-align: left;
}

.table-wrapper {
    overflow: auto;
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px auto;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-height: 80vh;
    overflow: auto;
  }
  
  .form-group {
    margin: 0 auto 15px;
    width: 350px;
    text-align: left;
  }
  
  .form-label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    display: block;
    margin: 0 auto;
  }
  
  .form-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 350px;
    text-align: center;
    margin: 0 auto;
  }
  
  .form-button:hover {
    background-color: #0056b3;
  }


/* Close button styling */
.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
  }
  
  /* Modal title styling */
  .modal-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Image styling */
  .modal-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Modal text styling */
  .modal-text {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 15px;
  }
  
  .modal-text strong {
    font-weight: bold;
    color: #000;
  }
  
  

@media (min-width: 600px) {
    .mainContent {
        padding: 10px 20px;
    }

    main {
        padding: 15px;
    }

    .modal-content {
        width: 100%;
        padding: 10px;
      }
    
      .modal-title {
        font-size: 20px;
      }
    
      .modal-text {
        font-size: 14px;
      }
}

@media (min-width: 900px){
    .mainContent {
        padding: 10px 50px;
    }

    main {
        padding: 20px;
    }
}