* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p, span {
    font-family: "Lato", sans-serif;
}

main {
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    background-color: #f3f2ee;
}

.mainContent {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 0;
}

.content-area {
    display: flex;
    flex-direction: column;
    row-gap: 16 px;
    line-height: 1.5em;
    text-align: left;
}

.table-wrapper {
    overflow: auto;
    width: 100%;
}

@media (min-width: 600px) {
    .mainContent {
        padding: 10px 20px;
    }

    main {
        padding: 15px;
    }
}

@media (min-width: 900px){
    .mainContent {
        padding: 10px 50px;
    }

    main {
        padding: 20px;
    }
}