* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

p, span {
    font-family: "Lato", sans-serif;
}

main {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    background-color: #f3f2ee;
}

.mainContent {
    padding: 10px 50px;
}

.mainContent {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.content-area {
    display: flex;
    flex-direction: column;
    row-gap: 16 px;
    line-height: 1.5em;
    text-align: left;
}